# Environment
.env

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
*.tfvars
!*.example.tfvars

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
